* {

    margin: auto;
    position: relative;

    font-family: Lato sans-serif;
    font-size: 1em;
    color: white;

    background-color: #4A245E;

}

form {

    width: 60%;

}

input {

    padding: 1em;
    margin: .5em;

    min-width: 6.1em;
    border-radius: 10px;
    border: none;

    color: #4A245E;
    background-color: white;

    transition: 500ms;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;

}

input::placeholder {

    color: #4A245E;

}

input:focus {

    background-color: #4A245E;
    color: white;

}

h1 {

    margin: auto;
    position:relative;
    font-size: 5em;
    text-align: center;

}

h4 {

    margin: auto;
    position: relative;
    width: 60%;
    font-size: 2em;
    text-align: center;

}

p {

    margin: auto;
    position: relative;
    width: 50%;

}
