* {

	margin: 0;

}

body {

	font-family: Lato, sans-serif;
	background-color: #4A245E;

}

ul {

	float: right;
	margin-top: .6em;

}

nav {

	background-color: white;

}

li {

	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 1em;
	padding-right: 1em;

	display: inline-block;
	background-color: #4A245E;

}

li:hover {

	background-color: white;
	color: #4A245E;

}

a {

	font-size: 2em;
	font-style: normal;
	background-color: #4A245E;
	color: white;
	text-decoration: none;

}

a:hover {

	background-color: white;
	color: #4A245E;

}

h1 {

	padding-left: 1em;

	font-size: 5em;
	color: #4A245E;

}

p {

	font-size: 1em;
	color: white;
	padding: 1em;
	padding-bottom: 2em;
	text-align: justify;

}