.navbar {
    border: none;
}

.bg-dark {
    background-color: #4A245E;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    transition: color 300ms;
}

.nav-item {
    transition: background-color 300ms;
}

.nav-item:hover {
    background-color: white;
}

.navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover {
    color: #4A245E;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {

    background-color: white;
    color: #4A245E;
}

.card-text {
    font-size: 2vw;
}
